body {
	background-color: #353535;
	color: #ffffff;
	font-family: "Arial";
	margin: 0;
}

#container {
	width: 800px;
	margin: auto;
}

#top {
	width: 100%;
	height: 15px;
	background-color: #65B900;
	display: none;
}

#header h1 {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 4em;
	letter-spacing: -5px;
}

#header h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 15px;
	display: inline;
	font-family: "Fixed";
}

.color1 {
	color: #a0d500;
}

.color2 {
	color: #C03232;
}

.color3 {
	color: #4E94D8;
}

.color4 {
	color: #FFAD17;
}

#small_font {
	font-size: 0.4em;
	letter-spacing: -2px;
}

#header #avatar {
	width: 50px;
	height: 50px;
	margin-top: 40px;
	background-image: url("/avatar.png");
	float: right;
	display: none;
}

#head {
	padding: 30px;
}

#head a {
	text-decoration: none;
}

#head .color1 {
	font-size: 100px;
}

#nav {
	width: 100%;
	height: 37px;
	margin: 0;
	padding: 0;
	border-top: 2px solid #4D4D4D;
}

#nav li, #nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav a {
	text-decoration: none;
	font-weight: bold;
	height: 17px;
	display: block;
	float: left;
	padding: 10px;
	margin: 0;
}

#nav #home {
	color: #a0d500;
}

#nav #home:hover {
	color: #ffffff;
	background-color: #a0d500;
}

#nav #info {
	color: #C03232;
}

#nav #info:hover {
	color: #ffffff;
	background-color: #C03232;
}

#nav #screenshots {
	color: #5C71FF;
}

#nav #screenshots:hover {
	color: #ffffff;
	background-color: #5C71FF;
}

#nav #download {
	color: #4E94D8;
}

#nav #download:hover {
	color: #ffffff;
	background-color: #4E94D8;
}

#nav #contribute {
	color: #57811D;
}

#nav #contribute:hover {
	color: #ffffff;
	background-color: #57811D;
}

#nav #doc {
	color: #B95DF3;
}

#nav #doc:hover {
	color: #ffffff;
	background-color: #B95DF3;
}

#nav #help {
	color: #FF4E00;
}

#nav #help:hover {
	color: #ffffff;
	background-color: #FF4E00;
}

#nav #me {
	color: #FFAD17;
}

#nav #me:hover {
	color: #ffffff;
	background-color: #FFAD17;
}

#content {
	clear: both;
	padding: 30px;
}

#content h1 {
	font-size: 2em;
}

#content h2 {
	font-size: 1.5em;
}

#content a {
	text-decoration: none;
	color: #a0d500;
	font-weight: bold;
}

#content p {
	margin: 7px 0 7px 0;
}

#content img {
	height: 100px;
	float: left;
	display: block;
	margin: 20px;
	color: #1A1A1A;
}

#content pre {
	padding: 5px 0 5px 10px;
	border-left: 3px solid #65B900;
	background-color: #232323;
}

#content .terminal {
	border: 1px dashed #7F7F7F;
}

/*
#projects h2, #posts h2 {
	color: #65B900;
	font-size: 1.8em;
	display: inline;
}

#content #projects {
	list-style: none;
	margin: 0;
	padding: 0; 
}
#content #projects li {
	list-style: none;
	border-top: 2px solid #7F7F7F;
	margin: 0;
	padding: 10px 0 10px 0;
}

#posts {
	list-style: circle red;
}

#posts h2 {
	font-size: 1em;
}
*/

.date {
	font-size: 0.7em;
}

.post_title {
	color: #65B900;
	font-size: 1.8em;
	display: inline;
}

#footer {
	width: 100%;
	height: 10px;
	border-top: 1px solid #4D4D4D;
	margin: 0;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 12px;
	clear: both;
}

#footer a {
	text-decoration: none;
	color: #a0d500;
	margin: 0;
	padding: 0;
}
