<div id="nav">
<ul>
	<li><a href="index.html" id="home"> #home</a></li>
	<li><a href="info.html" id="info">#info</a></li>
	<li><a href="screenshots.html" id="screenshots">#screenshots</a></li>
	<li><a href="download.html" id="download">#download</a></li>
	<li><a href="contribute.html" id="contribute">#contribute</a></li>
	<li><a href="doc.html" id="doc">#doc</a></li>
	<li><a href="help.html" id="help">#help</a></li>
	<li><a href="http://pewniak747.github.com" id="me">#author</a></li>
</ul>
</div>
